<div class="row" id="artist-display">

  <!-- Artist -->
  <div class="col-sm-6" id="list-artist">
    <div class="row">
      <img src="{{ artist.artist.image_url }}" class="img-rounded" id="artist-image" alt="artist-image">
      <p class="col-sm-6" id="artist-name">{{ artist.artist.name }}</p>
    </div>
    <p id="artist-popularity">Popularity: {{ artist.artist.popularity }}</p>
    <p id="top-tracks-header">Top 10 Tracks: </p>
    <div id="list-top-tracks">
      <ul ng-repeat="song in artist.songs">
        <li><a href="{{song.song_url}}" target="_blank" class="top-tracks">{{ song.name }}</a> - <span id="album-name">{{ song.album }}</span></li>
      </ul>
    </div>
  </div>

  <!-- Artist's Upcoming Concerts -->
  <div class="col-sm-6" id="list-concerts">
    <h3 class="lead"> {{ artist.concerts.length }} Upcoming Concerts</h3>

    <div ng-show="artist.noUpcomingConcerts()">
      <p class="lead">{{ artist.artist.name}} has no upcoming concerts</p>
    </div>

    <ul ng-repeat="concert in artist.concerts">
      <concert name="concert"></concert>
      <button class="btn btn-success" ng-click="artist.addConcert($index);">Add to Upcoming Concerts</button>
    </ul>
  </div>
</div>
