<div class="row">

  <!-- Artist -->
  <div class="col-sm-6">
    <div class="row">
      <img src="{{ artist.artist.image_url }}" class="img-rounded" id="artist-image" alt="artist-image">
      <p class="lead col-sm-7">{{ artist.artist.name }}</p>
    </div>
    <p class="lead">Top 10 Tracks: </p>
    <ul ng-repeat="song in artist.songs">
      <li>{{ song.name }} - {{ song.album }}</li>
    </ul>
  </div>

  <!-- Artist's Upcoming Concerts -->
  <div class="col-sm-6">
    <h3 class="lead"> {{ artist.concerts.length }} Upcoming Concerts</h3>

    <div ng-show="artist.noUpcomingConcerts()">
      <p class="lead">{{ artist.artist.name}} has no upcoming concerts</p>
    </div>

    <ul ng-repeat="concert in artist.concerts">
      <concert name="concert"></concert>
      <!-- <li>
        <p>{{ concert.title }}</p>
        <p>Date: {{ concert.date | date:'medium' }}</p>
        <p>{{ concert.name }}</p>
        <p>{{ concert.city }}, {{ concert.state }} </p>
        <p>Ticket status: {{ concert.status | uppercase }}</p>
        <p><a href="{{ concert.ticket_url }}" target="_blank">Buy Tickets</a></p>
      </li> -->
      <button class="btn btn-success" ng-click="artist.addConcert($index);">Add to Upcoming Concerts</button>
    </ul>
  </div>
</div>
