<div id="artists-container">
  <h3 id="artists-header">Your Top Artists</h3><hr>

  <div id="artists-section" class="row">
    <div class="col-sm-3" id="list-user-artists">
      <div class="col-sm-7">
        <input type="text" ng-model="artists.search" ng-change="artists.refilter()" class="form-control clearfix" placeholder="Search Artist" id="artist-search"><br>
      </div>
      <div class="clearfix"></div>

      <p id="sort-by-links">
        <a href="" ng-click="sort = ''; reverse = !reverse">Most listened to</a> |
        <a href="" ng-click="sort = 'popularity'; reverse = !reverse">Most popular</a>
      </p>

      <div class="col-sm-12" id="artist-scrollbar">
        <ul ng-repeat="artist in artists.filteredList | orderBy:sort:reverse">
          <li class="artist-list-item"><a ui-sref="home.artists.id({id: artist.id})">{{ artist.name }}</a></li>
        </ul>
        <span ng-show="(artists.filteredList | filter:search).length == 0" id="artist-not-found">Artist not found</span>
      </div>
    </div>

    <div class="col-sm-9">
      <ui-view></ui-view>
    </div>
  </div>
</div>
