<div class="row upcoming-concert-tab">
  <div class="col-sm-3">
    <img src="{{ artist.artist.image_url }}" alt="artist-image" id="artist-image" class="img-rounded">
  </div>
  <div class="col-sm-6 concert-details">
    <p class="concert-artist-name">{{ artist.artist.name }}</p>
    <p class="concert-title">{{ artist.concert.title }}</p>

    <address class="browse-address">
      {{ artist.concert.name }} <br>
      {{ artist.concert.city }}, {{ artist.concert.state }}
    </address>
  </div>

  <div class="col-sm-3 concert-details">
    <p>{{ artist.concert.date | date:'medium' }}</p>
    <p>Ticket status: {{ artist.concert.status | uppercase }}</p>
    <p><a href="{{ artist.concert.ticket_url }}" target="_blank">Buy Tickets</a></p><br><br>
  </div>

  <button type="button" class="btn btn-info" aria-label="Left Align" ng-show="artist.users.length > 0" data-toggle="modal" data-target="#usersAttending">
    <span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span>
    Users Attending
  </button>

  <div id="usersAttending" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Users attending {{artist.artist}}'s concert at {{artist.concert.name}}</h4>
        </div>
        <div class="modal-body" ng-repeat="user in artist.users">
          <p>{{user}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
