<div id="upcoming-concerts-container">
  <h2 id="upcoming-concerts-header">Upcoming Concerts<hr></h2>

  <div class="row">
    <div class="col-sm-3">
      <input type="text" id="browse-concerts-searchbar" class="form-control" placeholder="Search Concert" ng-model="events.search" ng-change="events.refilter()">
    </div>
    <div class="col-sm-2">
      <p id="browse-sort-menu">Sort by:
        <a href="" ng-click="sort = '-date'; reverse = !reverse">Date</a>
      </p>
    </div>
  </div>

  <ul ng-repeat="concert in events.filteredList | orderBy:sort:reverse">
    <upcoming-concert concert="concert"></upcoming-concert>
    <button class="btn btn-success remove-concert-button" ng-click="events.removeConcert($index)">Remove Show</button>
  </ul>

  <span ng-if="events.upcomingConcerts.length != 0">
    <p ng-show="events.filteredList.length == 0" id="concert-not-found">Concert not found</p>
  </span>

  <p ng-show="events.upcomingConcerts.length == 0" id="concert-not-found">You have no upcoming concerts</p>

</div>
