// Artists

#artists-container {
  background-color: #f8f8f8;
  padding: 20px;
  margin-right: -8px;
  margin-top: -50px;
}

#artists-header{
  font-size: 26px;
  font-weight: 300;
  color: #2ebd59;
  text-align: center;
  margin-top: -20px;
  padding: 20px;
  margin-bottom: -20px;
}

#artists-section {
  margin-top: 17px;
}

#artist-not-found{
  font-size: 16px;
  color: rgb(145, 148, 150);
}

#sort-by-links {
  margin-left: 13px;
  font-size: 15px;
  a {
    color: rgb(34, 191, 84);
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
}

.artist-list-item {
  list-style-type: none;
  margin-left: -42px;
  margin-bottom: 10px;
  a {
    font-size: 18px;
    color: #2ebd59;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
}

#artist-scrollbar {
  margin-top: 10px;
  height: 370px;
  overflow-y: auto;
}

#artist-search {
  width: 207px;
  margin-left: -3px;
}

#list-user-artists {
  padding: 30px 10px;
  border: 1px solid #eeeeee;
  background-color: white;
  border-radius: 5px;
  width: 251px;
  margin-left: 13px;
  box-shadow: 1px 1px 2px lightgray;
}

#list-artist {
  margin-left: 10px;
  padding: 20px;
  width: 490px;
  height: 527px;
  border: 1px solid #eeeeee;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px lightgray;
}

#artist-display {
  width: 900px;
}

// Artist

#artist-image {
  height: 175px;
  width: 190px;
  float: left;
  margin-left: 17px;
}

#artist-name {
  margin-left: 5px;
  font-size: 26px;
}

.artist-name {
  margin-left: 5px;
  font-size: 26px;
}

#artist-popularity {
  margin-top: 20px;
  font-size: 18px;
}

#album-name {
  color: rgb(145, 148, 150);
}

#top-tracks-header {
  margin-top: 10px;
  font-size: 18px;
}

.top-tracks {
  margin-top: 20px;
  margin-left: -4px;
  font-size: 16px;
}

#list-top-tracks {
  height: 201px;
  overflow-y: auto;
  li {
    list-style-type: none;
    margin-left: -35px;
    a:hover {
      text-decoration: none;
    }
  }
}

#pick-artists-header {
  font-size: 30px;
}

// Popularity Form

.popularity-rating {
  margin-left: -28px;
}

.edit-popularity-link {
  font-size: .7em;
  margin-right: 15px;
  margin-top: -5px;
  float: right;
  span {
    font-size: .9em;
  }
}

.popularity-button {
  font-size: .8em;
  margin-right: 15px;
  float: right;
}

#edit-popularity-input {
  width: 44px;
  margin-left: -10px;
}

.populartiy-input-row {
  margin-top: -3px;
}

.popularity-input-errors {
  color: red;
  font-size: .8em;
  margin: -10px 0px -4px -120px;
}

// Turn off number input spinners
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
