body {
  font-family: "Circular", Helvetica, Arial, sans-serif;
  background-color: rgb(18, 30, 62);
  font-weight: 300;
}

// Login

#spotify-login {
  text-align: center;
  margin-top: 250px;
  a {
    color: rgb(34, 191, 84);
  }
}

// Navbar
.navbar-inverse {
  padding-top: 8px;
  li {
    width: 25%;
    text-align: center;
    font-size: 1.4em;
    text-align: center;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: rgb(0, 217, 90);
}

.navbar-nav {
  width: 100%;
}

// Page

#page {
  margin-top: 110px;
}
