body {
  font-family: "Circular", Helvetica, Arial, sans-serif;
  background-color: rgb(18, 30, 62);
  font-weight: 300;
}

// Login

#spotify-login-container {
  text-align: center;
  margin-top: 22%;
}

#loading-message-container {
  text-align: center;
}

a.spotify-login {
  background-color: #2ebd59;
  color: white;
  padding: 5px;
  margin: -20px 15px 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 500px;
  padding: 11px 47px 9px;
  letter-spacing: 1.2px;
  min-width: 130px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 500;
  text-align: center;
  border: 1px solid transparent;
}

.spotify-login:hover {
  background-color: #1ed760;
  border: 1px solid transparent;
}

// Page container

#page {
  margin-top: 100px;
}
