// Navbar
.navbar-inverse {
  padding: 5px 0px;
  li {
    width: 25%;
    text-align: center;
    font-size: 1.4em;
    text-align: center;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: rgb(0, 217, 90);
}

.navbar-nav {
  width: 100%;
}
