#upcoming-concerts-container {
  background-color: #f8f8f8;
  padding: 20px;
  margin-right: -8px;
  margin-top: -40px;
}

#upcoming-concerts-header {
  font-size: 26px;
  font-weight: 300;
  color: #2ebd59;
  text-align: center;
  margin-top: -20px;
  padding: 20px;
  margin-bottom: -20px;
}

.upcoming-concert-tab {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-right: 27px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px gray;
}

.concert-details {
  font-size: 18px;
}

.concert-artist-name {
  font-size: 24px;
}

.remove-concert-button {
  float: right;
  margin-right: 159px;
  margin-top: -73px;
  box-shadow: 1px 1px 1px gray;
  background-color: rgb(34, 191, 84);
}

.concert-title {
  margin-bottom: 51px;
}

#concert-not-found {
  margin-left: 24px;
  font-size: 22px;
  color: rgb(145, 148, 150);
}
