<!DOCTYPE html>
<html>
<head>
  <title>Discover Shows</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h2><%= link_to 'Sign in with Spotify', '/auth/spotify' %></h2>

  <div ng-app="app" class="app">
    <div ui-view></div>
  </div>
<!-- <%#= yield %> -->

</body>
</html>
