<!DOCTYPE html>
<html>
<head>
  <title>Discover Shows</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div ng-app="app" class="app">
    <div ui-view></div>
  </div>

  <!-- <%#= yield %> -->
  
  <!-- <script type="text/javascript" src="app/assests/javascripts/angular-ng-messages.js"></script> -->
</body>
</html>
